{%extends "super-parent.html"%}

{%block wrapper%}

    <article class="content" id="article">
        <div style='text-align:right;'><a href="/">返回列表</a></div>
        {%block content%}
                    
        {%endblock%}
        <div style='text-align:right;'><a href="#article">回顶部</a></div>
                        <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'yanni4night'; 
        (function() {
            if(!/yanni4night\.com$/.test(location.host))return;
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
            </article>
            <section class="side">
            </section>

{%endblock%}