<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8"/>
        <title>{%block title%}Blog of Yanni Nightingale{%endblock%}</title>
        <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/> 
        <meta name="keywords" content="Javascript,前端,w3c,js,css,html,nodejs,font-end,fe,ecma,dom"/>
        <meta name="author" content="yanni4night@gmail.com"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
        {%block head%}{%endblock%}
    </head>
    <body>
<div class="body-inner">
{%block header%}
<div class="header">
    <div class="content">
        <a href="/" class="title">Yanni Nightingale's Blog</a>
    </div>
</div>
{%endblock%}
 <div class="git-badge"><iframe src="http://githubbadge.appspot.com/yanni4night?a=0&s=1" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
</div>
<div class="wrapper cf">
{%block wrapper%}{%endblock%}
</div>
<div class="footer w-fil">
    <div class="content">
        <span>&copy;2014~2015  <a href="/">yanni4night.com</a> All Rights Reserved</span> |
        <a href="https://github.com/yanni4night" target="_blank">GitHub</a> |
        <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
(location.host=='yanni4night.com')&&document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F025aa77b6f78c6ab22a2469596d8eae3' type='text/javascript'%3E%3C/script%3E"));
</script>

    </div>
</div>
</div>
{%block script%}{%endblock%}
</body>
</html>