{%extends "super-parent.html"%}

{%block title%}
Flex Demo
{%endblock%}

{%block head%}
<link rel="stylesheet" href="/static/css/example/columns.css"/>
{%endblock%}

{%block wrapper%}
    <article>
        <h3>This H3 element should cross multi columns</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
    qui officia deserunt mollit anim id est laborum</p>
    </article>
{%endblock%}