<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>
            雁过不留声
        </title>
        <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/> 
        <meta name="keys" content="Javascript,前端,技术,w3c,js,css,html,nodejs,开发,font-end,fe,ecma,dom"/>
        <meta name="author" content="yanni4night@gmail.com"/>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
    <header>
<div class="content">
            <span class="title">Yanni Nightingale's Blog</span>
            <span class="little">———— 雁过不留声</span>

            <pre>  
                                《
                            《                               《
                        《                           《
                    《                       《
                        《                       《
                            《
            </pre>
</div>
    </header>